*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-top: 100px;
}


#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid white;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid grey;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: grey;
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
}

img {
    width: 20px;
    height: 20px;
}